# General
.DS_Store
.vscode/
.idea/
*.log
*.swp

# Environment variables
.env
.env.*
.env.*.local

# Python / Django
__pycache__/
*.pyc
venv/
env/
db.sqlite3
# Celeryが生成するスケジュールファイル
celerybeat-schedule
# Djangoのcollectstaticで生成されるディレクトリ
staticfiles/


# Node / React
node_modules/
# ビルド成果物
dist/
dist-ssr/
build/
dev-dist/
# ログファイル
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Tests
.coverage
htmlcov/
.pytest_cache/